[defaults]
host_key_checking= False
enable_plugins = aws_ec2
remote_user = ec2-user

[ssh_connection]
ssh_args = -o ProxyCommand="sh -c \"aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'\""
